/* body{
    background-color: #F6F6EF;
} */

.home-container{
    background-color: #F6F6EF;

}

.nav-container{
    background-color: #ff6600;

}

/* .topic-container{

    background-color: #F6F6EF;

} */
/* 
.post-container{

    background-color: #F6F6EF;

} */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li form {
    display: block;
    color: white;
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-right{
      float: right;
  }