/* body{
    background-color: #F6F6EF;
} */

.home-container{
    background-color: #F6F6EF;

}

.nav-container{
    background-color: #ff6600;

}

/* .topic-container{

    background-color: #F6F6EF;

} */
/* 
.post-container{

    background-color: #F6F6EF;

} */